@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');

body {
	font-family: 'Inter', serif;
	background: #2b2b2b;
	color: #FFFFFF;
	font-size: 16px;
	}
	
.mainh1 {
	font-weight: 800;
	background: #FFFFFF;
	font-size: 48px;
	color: #2b2b2b;
	cursor: default;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
	
.urlbutton {
	font-weight: 600;
	text-decoration: none;
	-moz-appearance: button;
	-webkit-appearance: button;
	appearance: button;
	color: #FFFFFF;
	background: #2b2b2b;
	padding: 10px 20px;
	font-size: 14px;
	border-style: solid; border-color: #FFFFFF; border-width: 2px;
	}
	
.urlbutton:hover, .urlbutton:focus {
	color: #2b2b2b;
	background: #FFFFFF;
	transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	text-decoration: none;
	}	
	
.urlmatch {
	color: #FFFFFF;
	background: #2b2b2b;
	text-decoration: none; }	
	
.urlmatch:hover, .urlmatch:focus {
	color: #2b2b2b;
	background: #FFFFFF;	
	text-decoration: none;
	transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	text-decoration: none;
	}
	

.sectionchoice {
	font-weight: 500;
	color: #FFFFFF;
	text-decoration: none;	
	}
	
.sectionchoice:hover {
	color: #2b2b2b; background-color: #FFFFFF;
	text-decoration: none;
	transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
}

#blink {
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}
	@-webkit-keyframes blink {
		0% { color: #2b2b2b; }
		50% { color: #FFFFFF; }
		100% { color: #2b2b2b; }
	}
	@keyframes blink {
		0% { color: #2b2b2b; }
		50% { color: #FFFFFF; }
		100% { color: #2b2b2b; }
	}

.subtext {
	color: #d9d9d9;
	text-decoration: none;
	}

.subtext:hover, .subtext:focus {
	text-decoration: underline;
	}
